<div class="content">

    <div class="compteur">

        <div class="doneItems">
            <p>Done items: {{ selector.doneItems().length }}</p>
        </div>

        <div class="activeItems">
            <p>{{ selector.activeItems().length }} item(s) to do</p>
        </div>

    </div>
    <div class="list">
        @for (item of selector.items(); track trackById($index, item)) {
            <div class="todo-item  align-items-center justify-content-between" (click)="change(item)" >
                <!-- <span [class.active]="item.isActive" [class.done]="!item.isActive"> -->
                <span class="badge"
                [ngClass]="item.isActive ? 'text-bg-warning' : 'text-bg-success' ">
                    {{ item.isActive ? 'Active' : 'Terminée' }}
                </span>
                {{item.title}}
            </div>
        }
    </div>

</div>
